@model IEnumerable<Project1.Models.PritishIncidencies>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.sTitol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sDescripcio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sEstat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sEmailResponsable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dDataCreacio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sTags)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pImatge)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.sTitol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sDescripcio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sEstat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sEmailResponsable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dDataCreacio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sTags)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pImatge)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.nID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.nID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.nID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
